<div id="feed">

</div>

<% @series.each_with_index do |series, index| %>
<div id="graph<%= index %>">

</div>
<% end %>

<script language="javascript">

function createGraph(selector, data) {
  var graph;
  graph = new Rickshaw.Graph( {
    element: document.querySelector(selector),
    width: 300,
    height: 200,
    series: [{
      color: 'steelblue',
      data: data
    }]
  });
  graph.update();
}

</script>

<script language="javascript">
  var source = new EventSource("/status/stream");

  source.addEventListener("update", function(evt) {
    var currentDate = new Date();
    var day = currentDate.getDay();
    var month = currentDate.getMonth();
    var year = currentDate.getFullYear();
    var hour = currentDate.getHours();
    var minute = currentDate.getMinutes();
    var second = currentDate.getSeconds();
    var dateString = year + '/' + month + '/' + day + ' ' + hour + ':' + minute + ':' + second;
    $('#feed').html('<p>Last updated at ' + dateString + '</p>');
    var stats = JSON.parse(evt.data).stats;
    for (index in stats) {
      var elementName = "#graph" + index;
      var data = [];
      var stat = stats[index];
      var values = stat.values;
      if (values && values.length > 0) {
        $(elementName).html('<h3>' + stat.controller + ' ' + stat.action + '</h3>' +
          '<h4>' + stat.type + '</h4>'
        );
        for (j in values) {
          var result = values[j];
          var x = result.time;
          var y = 0;
          if (result.view_runtime > 0) {
            y = result.view_runtime;
          } else if (result.db_runtime > 0) {
            y = result.db_runtime;
          }
          data.unshift({x: x, y: y});
        }

        createGraph(elementName, data);
      }
    }

  });
</script>
