<div id="feed">

</div>

<div class="grid-items">
  <% @series.each_with_index do |series, index| %>
    <div id="graph<%= index %>" class="grid-item">

    </div>
  <% end %>
</div>


<script language="javascript">

function createGraph(selector, data) {

  var graphdiv = $( "<div id='" + selector + "_graph' />");
  var y_axis   = $( "<div id='" + selector + "_yaxis' />");

  var container = $(selector);

  var axis_width = 40;
  var graph_width = 540;
  var container_width = graph_width + axis_width;
  var graph_height = 350;
  var height = graph_height + 125;

  var palette = new Rickshaw.Color.Palette();

  y_axis.addClass("y_axis");
  y_axis.css("display", "inline");
  y_axis.css("float", "left");
  y_axis.css("width", axis_width);
  y_axis.css("height", graph_height);

  graphdiv.addClass("chart");
  graphdiv.css("width", graph_width);
  graphdiv.css("height", graph_height);
  graphdiv.css("float", "right");
  graphdiv.css("display", "inline");

  container.addClass("graph-container");
  container.width(container_width);
  container.height(height);

  container.append(y_axis);
  container.append(graphdiv);

  var unit = {}
  unit.formatter = function(d) { return moment(d).format('hh:mm:ss a')};
  unit.name = "5 minutes";
  unit.seconds = 60 * 60;

  var graph;
  graph = new Rickshaw.Graph( {
    element: graphdiv[0],
    width: graph_width,
    height: graph_height,
    renderer: 'line',
    series: [{
      color: 'steelblue',
      data: data
    }]
  });

  var y_ticks = new Rickshaw.Graph.Axis.Y({
    graph: graph,
    orientation: 'left',
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    element: y_axis[0]
  });

  var x_axis = new Rickshaw.Graph.Axis.Time({
    graph: graph,
    timeUnit: unit,
    timeFixture: new Rickshaw.Fixtures.Time.Local()
  });

  graph.render();
}

</script>

<script language="javascript">
  var source = new EventSource("/status/stream");

  source.addEventListener("update", function(evt) {
    var currentDate = new Date();
    var day = currentDate.getDay();
    var month = currentDate.getMonth();
    var year = currentDate.getFullYear();
    var hour = currentDate.getHours();
    var minute = currentDate.getMinutes();
    var second = currentDate.getSeconds();
    var dateString = year + '/' + month + '/' + day + ' ' + hour + ':' + minute + ':' + second;
    $('#feed').html('<p>Last updated at ' + dateString + '</p>');
    var stats = JSON.parse(evt.data).stats;
    for (index in stats) {
      var elementName = "#graph" + index;
      var data = [];
      var stat = stats[index];
      var values = stat.values;
      if (values && values.length > 0) {
        $(elementName).html('<h3>' + stat.controller + ' ' + stat.action + '</h3>' +
          '<h4>' + stat.type + '</h4>'
        );
        for (j in values) {
          var result = values[j];
          var x = result.time;
          var y = 0;
          if (result.view_runtime > 0) {
            y = result.view_runtime;
          } else if (result.db_runtime > 0) {
            y = result.db_runtime;
          }
          data.unshift({x: x, y: y});
        }

        createGraph(elementName, data);
      }
    }

  });
</script>
