<!DOCTYPE html>
<html>
<head>
  <title>Livestatus</title>
  <%= stylesheet_link_tag    "livestatus/application", media: "all" %>
  <%= javascript_include_tag "livestatus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
